body{
    font-family: Arial;
    background: white;
    color: black;
    text-align: center;
    transition: 0.5s;
    padding-top: 100px;
}

.dark{
    background: #121212;
    color: white;
}

button{
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #007bff;
    color: white;
}

button:hover{
    background: #0056b3;
}

.box{
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background: #f4f4f4;
    transition: 0.5s;
}

.dark .box{
    background: #1e1e1e;
}